@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: '';
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
body {
  text-size-adjust: auto;
  text-rendering: optimizeSpeed;
  min-height: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.content-width {
  width: 90vw;
  max-width: 90vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* BurgerNav */
li {
  position: relative;
}

.list-1 li::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 5px;
  height: 5px;
  @apply bg-neutral-900 dark:bg-white rounded-full hidden;
}

.list-1 li:hover::after {
  @apply block;
}

.list-2 li::after {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 8px;
  height: 8px;
  @apply bg-neutral-50 rounded-full hidden;
}

.list-2 li:hover::after {
  @apply block;
}

.pre:hover::after {
  @apply block;
}

.pre::after {
  @apply absolute w-full h-[4px] lg:h-[7px] bg-neutral-900 lg:hidden bottom-[4px] lg:bottom-0;
  content: '';
}
/*
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */

/* Gradient in Hex */
.hero-gradient {
  background: linear-gradient(
    to right,
    #b6b6c2 0%,
    28.270676732063293%,
    #714b5a 56.54135346412659%,
    78.2706767320633%,
    #53515c 100%
  );
}

.theme-gradient-rgba {
  background: linear-gradient(
    to right,
    rgba(182, 182, 194, 1) 0%,
    28.270676732063293%,
    rgba(113, 75, 90, 1) 56.54135346412659%,
    78.2706767320633%,
    rgba(83, 81, 92, 1) 100%
  );
}

.theme-gradient {
  background: linear-gradient(
    to right,
    #ba7339 0%,
    28.270676732063293%,
    #8f6d5d 56.54135346412659%,
    78.2706767320633%,
    #ba7339 100%
  );
}
